@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

@import "grid.css";
@import "fonts.css";
* { margin:0; padding:0; -webkit-transition: all ease 0.3s; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -ms-transition: all ease 0.3s; transition: all ease 0.3s;}
html, body { width:100%; height:100%;}
body{font-family:'DINPro-Regular'; font-size:13px; color:#535353;}

form, textarea, input {font-family:'DINPro-Regular';}

h1, h2, h3, h4, h5 { font-weight:700;}
img{max-width:100%;}
a:hover,a:focus { text-decoration:none;}
.footer { background:#f3f3f3; border-top:solid 1px #eae7e7; position: absolute; left: 0; bottom: 0; width: 100%; padding:10px 0;}
/** Header **/
header { padding:20% 10% 10% 10%; background:#ddd; text-align:center; background:url(../images/vector-bg.png) no-repeat top right; background-size:20%;}
.page {max-width:640px; margin:0 auto; position:relative; padding:0 0 10% 0;}
#home{background:url(../images/home-bg.jpg) no-repeat center center; background-size:cover; display:table; width:640px; height:100%; text-align:center; margin:0 auto; position:relative;}
.text-vertical-center {display:table-cell; vertical-align:middle;}
#home:before { background:url(../images/vector-bg.png) no-repeat; content:''; background-size:contain; width:30%; height:310px; position:absolute; top:0; right:0;}
.welcome-text { background:#0d56a1; padding:8%; color:#fff; font-size:20px;}
input[type=text], input[type=password], input[type=tel], select, textarea { border:solid 2px #d4d4d4; background:#fff; width:96%; padding:2%; margin-bottom:10px; box-shadow:0 2px 5px #0a437e; font-size:22px;}
.search {background:#005faa; padding:2%;}
.search-box {background:#fff; width:80%; float:left; box-shadow:0 2px 5px #0a437e; position:relative; padding:2px; margin-left:4%;}
.search input[type=text] { border:none; box-shadow:none; width:90%; margin:0; height:auto; font-size:16px; padding:2px; border:none; height:22px;}
.search-btn { width:24px; height:24px; display:block; background:url(../images/search-btn.png) no-repeat center 50%; border:none; cursor:pointer; padding:0; position:absolute; right:4px; top:4px;}
.back-btn {background:url(../images/back-btn.png) no-repeat center 50%; height:31px; width:40px; border:none; cursor:pointer; float:left; margin:0;}
.inner { padding:5%;}
h1.light {padding-bottom:10px;}
footer {background:#005faa; position:fixed; width:100%; left:0; bottom:0;}
footer ul { margin:0; padding:0; list-style:none;}
footer ul li { width:25%; float:left;}
footer ul li a {height:0; display:block; background-repeat:no-repeat; background-position:center 50%; background-size:contain; padding-bottom:50%;}
footer ul li a.twitter { background-image:url(../images/twitter-icon.png);}
footer ul li a.twitter.active { background-image:url(../images/twitter-icon-active.png);}
footer ul li a.user { background-image:url(../images/user-icon.png);}
footer ul li a.user.active { background-image:url(../images/user-icon-active.png);}
footer ul li a.calender {background-image:url(../images/calender-icon.png);}
footer ul li a.calender.active {background-image:url(../images/calender-icon-active.png);}
footer ul li a.map { background-image:url(../images/map-icon.png);}
footer ul li a.map.active { background-image:url(../images/map-icon-active.png);}

.align-left { text-align:left;}
.align-center { text-align:center;}
.align-right { text-align:right;}

/*events*/
.events { padding:15px 0; border-top:1px solid #89c9d5;}
.events:first-child { padding-top:0; border-top:none;}
.events h3, .events h3 a { font-size:18px; color:#000000; margin-bottom:5px; text-decoration:none; word-wrap:break-word;}
.events h4, .events h4 a { margin-top:15px; margin-bottom:5px; font-size:16px; color:#000000; text-decoration:none; word-wrap:break-word;}
.events p {font-family:'DINPro-Light'; font-size:15px; line-height:18px; margin-bottom:5px;}
.events .date { color:#005faa; font-size:15px; padding-top:10px; display:inline-block;}

.person img { border-radius:5px; border:2px solid #005faa; width:100%; max-width:140px; display:inline-block; }
.events .col9{display: inline-block; float: none; margin: 0; vertical-align:top; width: 59%;}
.events .person {display: inline-block; float: none; text-align: right; vertical-align: top; width: 39%; text-align:right;}
.tweet { padding:25px 0; border-top:1px solid #89c9d5;}
.tweet:first-child { padding-top:0; border-top:none;}
.tweet h3, .tweet h3 a { font-size:18px; color:#0793f5; margin-bottom:5px; word-wrap:break-word;}
.tweet h3 span {font-family:'DINPro-Light'; color:#494f54; font-weight:normal; font-style:italic; word-wrap:break-word;}
.tweet p {font-family:'DINPro-Light'; font-size:15px; line-height:18px; margin-bottom:5px; color:#494f54;}

.ticons { margin-top:15px;}
.ticons > div { margin:0;}
.ticons img { width:40%; display:inline-block; vertical-align:text-bottom; max-width:45px;}
.blue a { color:#0793f5; font-size:14px; text-decoration:none;}
.orange a { color:#f7941d; font-size:14px; text-decoration:none;}

.tcomments { margin-bottom:15px;}
.tcomments textarea { background:#ffffff; width:100%; -webkit-box-shadow: 0 0 0 2px #d4d4d4; box-shadow: 0 0 0 2px #d4d4d4; font-size:13px; color:#646464; border:none; padding:0; }
.tcomments input[type=submit] { color:#ffffff; text-transform:uppercase; text-shadow: 1px 1px 0 #000000; text-align:center; background:url(../images/sub-bg.jpg) repeat-x; border:none; padding:4px 0; width:100%; font-size:18px; cursor:pointer; border-radius:4px; -webkit-box-shadow:0 0 2px 2px #d4d4d4; box-shadow:0 0 2px 2px #d4d4d4;}

#loading{
		background: url('../images/loader.gif') no-repeat scroll center center #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
		background-size:70px;
}

.tmap {height:100%; width:100%; display:table;}
/*events*/
@media screen and (min-width:641px) {

	footer ul li a { padding:0; height:70px;}
	.page { padding:0 0 5% 0;}
	
}
